-r requirements.in
cython
git+https://github.com/y-chan/Nuitka@9eb853fefe6febd5a9c90431165a52ef8c461999#egg=nuitka
pip-licenses
pip-tools
pre-commit

# 以下のパッケージはWindowsでは必要とされてるが、Linux上でpip-compileすると出力内容に含まれないため明示的に含めている
atomicwrites
colorama
