-r requirements.in
cython
git+https://github.com/y-chan/Nuitka@4f00df6307f7a37ac725f8dbd40fd3592f969dae#egg=nuitka
pip-licenses
pip-tools
pre-commit

# 以下のパッケージはWindowsでは必要とされてるが、Linux上でpip-compileすると出力内容に含まれないため明示的に含めている
atomicwrites
colorama
