numpy>=1.22
fastapi
python-multipart
uvicorn
aiofiles
soundfile
scipy==1.8.0rc3
PyYAML
git+https://github.com/y-chan/Python-Wrapper-for-World-Vocoder@9eae2c7abff9389327c3b3d454975b994c0633aa#egg=pyworld
git+https://github.com/y-chan/pyopenjtalk@2346df8824c56d3625ce4284040b26ff078fac1a#egg=pyopenjtalk
